{% extends "applikaatio/base.html" %}
{% block content %} 
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>

  <div id="tuotanto/kulutus" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  <script>
        Highcharts.chart('tuotanto/kulutus', {
            chart: {
                type: 'area'
            },
            title: {
                text: 'Sähköntuotanto ja -kulutus Suomessa'
            },
            xAxis: {
                type: 'datetime',
            },
            yAxis: {
                title: {
                    text: 'MegaWatts'
                },
                labels: {
                    formatter: function () {
                        return this.value / 1000 + 'k';
                    }
                }
            },
            tooltip: {
                shared: true,
                crosshairs: true
            },

            plotOptions: {
                area: {
                    pointStart: Date.UTC(2019, 3, 2),
                    pointInterval: 24 * 3600 * 1000,
                    marker: {
                        enabled: false,
                        symbol: 'circle',
                        radius: 2,
                        states: {
                            hover: {
                                enabled: true
                            }
                        }
                    }
                },
                series: {
                    fillOpacity: 0.2
                }
            },
            series: [{
                name: 'Sähkönkulutus',
                data: {{ kulutusajalta }},
                color: '#ed9595'
            }, {
                name: 'Sähköntuotanto',
                data: {{ tuotantoajalta }},
                color: '#9ced8e'
            }]
        });
    </script>
{% endblock %}
<!--
    Highcharts.chart('container', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Sähköntuotanto Suomessa'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Brands',
            colorByPoint: true,
            data: [{
                name: 'Ydinvoima',
                y: {{ ydinvoima }}
            }, {
                name: 'Tuulivoima',
                y: {{ tuulivoima }}
            }, {
                name: 'Vesivoima',
                y: {{ vesivoima }}
            }, {
                name: 'Teollisuuden yhteistuotanto',
                y: {{ yhteistuotanto }}
            }, {
                name: 'Kaukolämpö',
                y: {{ kauko}}
            }, {
                name: 'Muut',
                y: {{ muu }}
            }]
        }]
    });


  <h2>Sähköntuotto Suomessa </h2>
  <p>Sähkön tuotanto: <strong>{{ tuotanto }} </strong> </p> 
  <p>Sähkön kulutus: <strong>{{ kulutus }} </strong> </p> 
  <p>Sähkön nettotuonti/-vienti: <strong>{{ tuontivienti }} </strong> </p> 
  <p>Ydinvoiman tuotanto Suomessa: <strong>{{ ydinvoima }} </strong> </p> 
  <p>Tuulivoiman tuotanto Suomessa: <strong>{{ tuulivoima }} </strong> </p> 
  <p>Vesivoiman tuotanto Suomessa: <strong>{{ vesivoima }} </strong> </p> 
  <p>Teollisuuden yhteistuotanto Suomessa: <strong>{{ yhteistuotanto }} </strong> </p> 
  <p>Kaukolämmön tuotanto Suomessa: <strong>{{ kauko }} </strong> </p> 
  <p>Muu tuotanto Suomessa: <strong>{{ muu }} </strong> </p> 
-->
