{% extends "applikaatio/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Kirjaudu sisään</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Kirjaudu sisään</button>
            </div>
        </form>
        <div class="border-top">
            <small class="text-muted">
                Tarvitsetko tunnuksen? <a class="ml-2" href="{% url 'register' %}">Liity tästä</a>
            </small>
        </div>
    </div>
{% endblock content %}
